pandas
numpy
streamlit
seaborn
matplotlib
koreanize_matplotlib

streamlit_webrtc
torch
tensorflow

torchvision
opencv-python
PyYAML
scipy
seaborn
cvzone
mediapipe
pillow-heif
scikit-image
scikit-learn
opencv-contrib-python
