pandas
numpy
streamlit
koreanize_matplotlib

streamlit_webrtc
torch
tensorflow

torchvision
opencv-python
PyYAML
pillow-heif
opencv-contrib-python

pillow
cvzone
tensorflow
mediapipe
opencv-python-headless
